@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-size: 14px;
    }

    @font-face {
        font-family: 'Mulish';
        src: local('Mulish'), url('/fonts/Mulish-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }    
}