.container {
    padding: 0 24px;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 1000px;
        padding: 0 32px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 320px) {
    .container {
        width: 1000px;
        padding: 0 32px;
        margin: 0 auto;
    }
}