.details-holder {
    overflow: hidden;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;
    font-family: "mulish";
    border-radius: 8px;
}

.details-holder summary {
    display: block;
    cursor: pointer;
    position: relative;
    padding: 0.5em 0.5em 0.5em 0.7em;
    color: #303757;
    background: rgba(48, 55, 87, 0.06);
    border-radius: 3px 3px 0 0;
}

.details-holder:not([open]) summary:hover,
.details-holder:not([open]) summary:focus {
    background: rgba(48, 55, 87, 0.12);
}

.details-holder[open] summary {
    color: #303757;
}

.details-holder main {
    border: 1px solid rgb(48 55 87 / 16%);
    border-width: 0 1px 1px 1px;
    padding: 18px;
}

.holder-ton-wallet-address {
    display: flex;
    align-items: center;
}

.text-default {
    font-weight: 400;
}

.text-bold {
    font-weight: 700;
}

.hash {
    display: flex;
    color: #08c;
}

.holder {
    margin-bottom: 10px;
}

.holders-header-text {
    display: flex;
    margin-left: calc(0.4rem * 2);
}

.holder-tg-nickname {
    display: flex;
    align-items: center;
}

.hold-state-price {
    margin-left: 12px;
}

.details-holder summary .holder-tg-nickname {
    display: flex;
    flex-direction: column;
    align-items: start;
}

summary:before {
    content: "";
    border-width: 0.4rem;
    border-style: solid;
    top: 0.75rem;
    border-color: transparent transparent transparent #303757;
    position: absolute;
    transform: rotate(0);
    transform-origin: 0.2rem 50%;
    transition: 0.25s transform ease;
}

/* THE MAGIC 🧙‍♀️ */
details[open] > summary:before {
    transform: rotate(90deg);
}