.d-flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.center-align {
    align-self: center;
}

.center-items {
    align-items: center;
}