.col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-self-center {
    align-self: center;
}

.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}