@each $type in (column, row) {
    .$(type) {
        flex-direction: $(type);
    }
}

@each $type in (justify-content, align-self, align-items) {
    @each $direction in (flex-start, center, flex-end) {
        .$(type)-$(direction) {
          $(type): $(direction);
        }
      }
  }

@each $type in (nowrap, align-self, align-items) {
    .flex-$(type) {
        flex-wrap: $(type);
    }
}