@font-face {
    font-family: 'mulish-black';
    src: url('/fonts/Mulish-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulish-extrabold';
    src: url('/fonts/Mulish-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulish-bold';
    src: url('/fonts/Mulish-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mulish';
    src: url('/fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code';
    src: url('/fonts/SourceCodePro-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto-cjk-bold';
    src: url('/fonts/Noto-Sans-Mono-CJK-JP-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

*, * > ::slotted(*) {
    font-family: "mulish";
}