@for $i from 0 to 4 {
    .gap-$(i) { gap: calc((0.125 * 16) * $(i)rem); }
}

@for $i from 0 to 4 {
    .gap-x-$(i) { column-gap: calc((0.125 * 16) * $(i)rem); }
}

@for $i from 0 to 4 {
    .gap-y-$(i) { row-gap: calc((0.125 * 16) * $(i)rem); }
}