@for $i from 1 to 20 {
    .m-$(i) { margin: calc(0.125 * $(i)rem); }
}

@for $i from 1 to 20 {
    .m-t-$(i) { margin: calc(0.125 * $(i)rem); }
}

@for $i from 1 to 20 {
    .m-r-$(i) { margin: calc(0.125 * $(i)rem); }
}

@for $i from 1 to 20 {
    .m-b-$(i) { margin: calc(0.125 * $(i)rem); }
}

@for $i from 1 to 20 {
    .m-l-$(i) { margin: calc(0.125 * $(i)rem); }
}