@for $i from 0 to 96 {
    .w-$(i) { width: calc(0.125 * $(i)rem); }
}

.w-auto	{
    width: auto;
}
.w-full	{
    width: 100%;
}
.w-screen	{
    width: 100vw;
}
.w-min	{
    width: min-content;
}
.w-max	{
    width: max-content;
}
.w-fit	{
    width: fit-content;
}